#edit-h1, #edit-h2 {
    width: 100%;
    padding-bottom: 1.3em;
}
.details-wrapper .col-md-6 {
    display: inline-block;
    vertical-align: top;
}
summary {
    outline: none;
}
#formmodule-example-form .description {
    font-size: 13px;
}
#formmodule-example-form .description::before {content: '\A'; white-space: pre;}

#ajax-wrapper, #kt_tabs_2_2 .row div+div {
   width: 100%;
   margin-left: 11px;
}
.js-form-managed-file .js-form-type-checkbox {
   display: table;
   margin: 0;
}
.js-form-managed-file .form-checkbox {
   float: left;
}
.js-form-managed-file .form-checkbox+label {
   padding-top: 0;
   white-space: nowrap;
}
